include *.py *.txt *.cfg *.in *.md
recursive-include thelma *.py *.zcml *.xsd *.ini *.xml *.xls *.txt *.csv *.json *.conf *.pt *.png
recursive-include docs *.*
prune docs/_build
prune docs/_static
prune docs/_templates
